node_modules/
dist/
.temp/
.tmp/

node_modules/.prisma/
prisma/generated/
prisma/mgrations/*-dev/

uploads/

logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

coverage/
.nyc_output/
test-output/

.DS_Store
Thumbs.db

.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace
.project
.classpath
.c9/
.settings/

.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

pids/
*.pid
*.seed
*.pid.lock

report.*.json

docker-entrypoint.sh
docker-data/